# Create metadata for new trimmed texts

In [4]:
import os
import pandas as pd

In [9]:
meta = pd.read_csv('../metadata/cleanrowswithhathimatches.tsv', sep = '\t')

In [5]:
folders = ['Morgan_trimmed', 'Peizhen_trimmed', 'Ted_trimmed', 'Wenyi_trimmed']
root = '/Users/tunder/Box Sync/NEHproject/GutenbergRaw/Pre-1900 To Trim/'

allids = []

for folder in folders:
    files = os.listdir(root + folder + '/')
    gutids = [x.replace('.txt', '') for x in files if x.endswith('.txt')]
    allids.extend(gutids)
    
print(len(allids))

137

In [10]:
newmeta = meta.loc[meta.gbindex.isin(allids), : ]
newmeta.shape

(140, 24)

In [11]:
gbindexes = set(meta['gbindex'])

for anid in allids:
    if anid not in gbindexes:
        print(anid)

56644
28054
27533

In [15]:
newmeta.loc[newmeta.duplicated(subset = 'gbindex', keep = 'last'), : ]

,docid,author,authordate,title,latestcomp,hathidate,imprint,gutenstring,enumcron,gbindex,...,contents,instances,genre,audience,authgender,multiplehtids,comments,coder,Folder,Trimmed
114,wu.89091848879,"Marguerite, Queen",1553-1615,Memoirs of Marguerite de Valois,1615,1813.0,NaN,NaN,NaN,3841,...,NaN,NaN,bio,NaN,f,NaN,NaN,ted,NaN,NaN
252,uc2.ark+=13960=t48p5x92b,"Ebers, Georg",1837-1898.,Cleopatra,1894,1894.0,"London;Sampson Low, Marston;","Ebers, Georg | Cleopatra",v.002,36294,...,NaN,1.0,fic | historical | romance,NaN,m,NaN,NaN,morgan,NaN,NaN
696,dul1.ark+=13960=t4hm5zs2h,"Haywood, Eliza Fowler",1693?-1756,The history of Jemmy and Jenny Jessamy,1753,1753.0,NaN,NaN,NaN,haywood.09,...,NaN,NaN,fic,NaN,f,y,three volumes,m,NaN,NaN
703,uc1.31175035193542,"Sarah, Fielding",1710-1768,The Cry,1754,1754.0,NaN,NaN,NaN,fieldinz.01,...,NaN,NaN,fic,NaN,f,y,two volumes,m,NaN,NaN
704,nyp.33433074925987,"Thomas, Amory",1691?-1788?,"The life of John Buncle, esq.",1766,1766.0,NaN,NaN,NaN,amory.01,...,NaN,NaN,fic,NaN,m,y,two volumes,m,NaN,NaN
706,nyp.33433074923099,"Charles, Johnstone",1719?-1800?,"Chrysal; or, The adventures of a guinea",1767,1767.0,NaN,NaN,NaN,johnston.01,...,NaN,NaN,fic,NaN,m,y,two ids; 4 volumes,m,NaN,NaN

In [17]:
dropthese = newmeta.loc[newmeta.duplicated(subset = 'gbindex', keep = 'last'), : ].index.tolist()

In [18]:
newmeta = newmeta.drop(labels = dropthese)
newmeta.shape

(134, 24)

In [19]:
newmeta.to_csv('/Users/tunder/work/gh_align/first_trimmed_batch.tsv', sep = '\t')